pkgbase = clipboard-type-wl
	pkgdesc = A simple script using dotool to type clipboard contents
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/nougatbyte/clipboard-type-wl
	arch = any
	license = MIT
	depends = dotool
	depends = wl-clipboard
	source = script.sh
	sha256sums = SKIP

pkgname = clipboard-type-wl
